@model Category


<h3>@(Model.Id != 0 ? "Editar" : "Adicionar Categoria")</h3>
<form action="/category/create" method="post">
    <input type="hidden" name="Id" class="form-control" value="@Model.Id" />
    <div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" name="Nome" class="form-control" value="@Model.Nome" />
                </div>
            </div>
        </div>

        <div class="btn-toolbar" style="margin-top: 15px">
            <button type="submit" class="btn btn-primary" style="margin-right:15px;">Salvar</button>
            <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-danger">Remover</a>
        </div>
    </div>
</form>


